<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Bootcamps - CleverInsight </title>

  <META NAME="author" CONTENT="Bastin Robins J">
  <META NAME="subject" CONTENT="CleverInsight">
  <META NAME="Description"
    CONTENT="CleverInsight was started by a team of data scientist's and data engineers, programmers and marketing professionals whose main aim is to optimize the market. Our core areas are Healthcare, Retail, Finance, Social Media, Telecom, Government.">
  <META NAME="Classification"
    CONTENT="CleverInsight was started by a team of data scientist's and data engineers, programmers and marketing professionals whose main aim is to optimize the market. Our core areas are Healthcare, Retail, Finance, Social Media, Telecom, Government.">
  <META NAME="Keywords"
    CONTENT="Sales Analytics, Retail Insight, Sales Insight, Healthcare Predictive Insight, Social Media Insight, Telecom Analytics, Banking Insight, Financial Insight, IOT Insight, CleverInsight, Clever Insight,">
  <META NAME="Geography" CONTENT="149 CommonWealth Drive Menlo Park, CA 94025  ">
  <META NAME="Language" CONTENT="English">
  <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
  <META NAME="Copyright" CONTENT="CleverInsight Inc">
  <META NAME="Designer" CONTENT="Bastin Robins J">
  <META NAME="Publisher" CONTENT="CleverInsight Team">
  <META NAME="distribution" CONTENT="Global">
  <META NAME="zipcode" CONTENT="94025">
  <META NAME="city" CONTENT="Menlo Park">
  <META NAME="country" CONTENT="USA">
  <meta name="image" content="http://cleverinsight.co/assets/img/cleverinsight.svg">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="Talks & Webinars- CleverInsight">
  <meta itemprop="description"
    content="CleverInsight was started by a team of data scientist's and data engineers, programmers and marketing professionals whose main aim is to optimize the market. Our core areas are Healthcare, Retail, Finance, Social Media, Telecom, Government.">
  <meta itemprop="image" content="http://cleverinsight.co/assets/img/cleverinsight.svg">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Talks & Webinars- CleverInsight">
  <meta name="twitter:description"
    content="CleverInsight was started by a team of data scientist's and data engineers, programmers and marketing professionals whose main aim is to optimize the market. Our core areas are Healthcare, Retail, Finance, Social Media, Telecom, Government.">
  <meta name="twitter:site" content="@getCleverInsight">
  <meta name="twitter:creator" content="@bastinrobin">
  <meta name="twitter:image:src" content="http://cleverinsight.co/assets/img/cleverinsight.svg">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="Talks & Webinars- CleverInsight">
  <meta name="og:description"
    content="CleverInsight was started by a team of data scientist's and data engineers, programmers and marketing professionals whose main aim is to optimize the market. Our core areas are Healthcare, Retail, Finance, Social Media, Telecom, Government.">
  <meta name="og:image" content="http://cleverinsight.co/assets/img/cleverinsight.svg">
  <meta name="og:url" content="http://cleverinsight.co">
  <meta name="og:site_name" content="CleverInsight">
  <meta name="og:video" content="https://vimeo.com/176410174">
  <meta name="og:type" content="website">
  <!-- Favicon Images -->
  <link rel="icon" href="../webinars/assets/img/favicon.png" />
  <link rel="icon" href="../webinars/assets/img/favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="../webinars/assets/img/favicon.png" />
  <meta name="msapplication-TileImage" content="../webinars/assets/img/favicon.png" />
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../webinars/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="../webinars/assets/vendor/animate.css/animate.min.css" rel="stylesheet"> -->
  <!-- <link href="../webinars/assets/vendor/venobox/venobox.css" rel="stylesheet"> -->
  <!-- <link href="../webinars/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet"> -->
  <!-- <link href="../webinars/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet"> -->

  <link rel='stylesheet' href='https://cleverinsight.co/assets/stylesheets/vendor/socicon.min.css' type='text/css'
    media='screen' />
  <link rel='stylesheet' href='https://cleverinsight.co/assets/stylesheets/vendor/material-icons.min.css'
    type='text/css' media='all' />
  <!-- Main Theme Style -->
  <link rel='stylesheet' href='https://cleverinsight.co/assets/stylesheets/theme.min.css' type='text/css'
    media='screen' />

  <!-- Template Main CSS File -->
  <link href="../webinars/assets/css/style.css" rel="stylesheet">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
  ga('create', 'UA-97045792-1', 'auto');
  ga('send', 'pageview');
  
  </script>


  <style type="text/css">
    .nav-menu li.buy-tickets a, .green a {     
        background: #8BC34A; 
        border: 2px solid #4CAF50; 
        color: #fff;
        padding: 7px 22px;
        border-radius: 50px;
        transition: all ease-in-out 0.3s;
        font-weight: 500;
        margin-left: 8px;
        margin-top: 2px;
        line-height: 1;
        font-size: 13px;
        text-decoration: none;
    }


    .day1 {
      background: #fed395;
    }
    .day2 {
      background: #fff6a7;
    }
    .day3 {
      background: #f3ff78;
    }
    .divider{
      background: #4caf50;
      font-family: sans-serif;
      padding-left: 50px;
      padding-top:12px;
    }

    .divider h3 {
      color: #fff;
      font-family: 'Varela Round', sans-serif;

    }

    h1, h2, h3, h4, h5, h6 {
      font-family: 'Varela Round', sans-serif;
    }

    .highlight {
      background: url(../webinars/assets/img/yellow-brushstroke.png);
      background-repeat: no-repeat;
      background-size: 100% 95%;
      padding: 8px 0;
      }
  </style>

</head>

<body>
  <div id="app">
  <header class="site-header navbar-sticky loading-done">
    <!-- Topbar -->
    <div class="topbar topbar-primary text-light">
      <div class="container">
        <div class="inner">
          <div class="column">
            <div class="">
              <span><i class="material-icons language"></i> English</span>

            </div>
          </div>
          <div class="column text-right">
            <nav class="topbar-menu">
              <ul class="menu">
                <li class="menu-item">
                  <a href="careers.html">Careers</a>
                </li>
                <li class="menu-item">
                  <a href="contact.html">Contact</a>
                </li>

              </ul>
            </nav>
            <div class="social-bar sb-solid-bg sb-rounded sb-dark-skin text-left">
              <a class="social-btn" href="https://www.facebook.com/CleverInsight-278317225925865/"><i
                  class="socicon-facebook"></i></a>
              <a class="social-btn" href="https://www.linkedin.com/company/cleverinsight"><i
                  class="socicon-linkedin"></i></a>
              <a class="social-btn" href="https://twitter.com/getCleverInsight"><i class="socicon-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Topbar END -->
    <div class="site-info">
      <div class="container">
        <div class="inner">
          <div class="column">
            <a class="" href="index.html">
              <img width="200px" src="https://cleverinsight.co/assets/img/cleverinsight.svg">
            </a>
          </div>
          <div class="column text-right">
            <div class="widget widget_startapp_contacts">
              <div class="contact-item">
                <div class="contact-icon">
                  <i class="material-icons smartphone"></i>
                </div>
                <div class="contact-info">
                  <span>1-408-888-4507</span><span>sales@cleverinsight.co</span>
                </div>
              </div>
              <div class="contact-item">
                <div class="contact-icon">
                  <i class="material-icons location_on"></i>
                </div>
                <div class="contact-info">
                  <span>149 Commonwealth Drive</span><span>Menlo Park, CA 94025</span>
                </div>
              </div>
              <div class="contact-item">
                <div class="contact-icon">
                  <i class="material-icons access_time"></i>
                </div>
                <div class="contact-info">
                  <span>09:00 – 17:00 (IST)</span><span>Monday to Friday</span>
                </div>
              </div>
            </div>
            <div class="toolbar">
              <a class="topbar-btn tool" href="#"><i class="material-icons more_horiz"></i></a><a class="menu-btn tool"
                data-toggle="offcanvas" href="#"><i class="material-icons menu"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main navigation -->
    <!-- Visible only on desktop -->
    <div class="sticky-wrapper" style="">
      <div class="navbar navbar-justified">
        <div class="container">
          <nav class="main-navigation">
            <ul class="menu">
              <li class="menu-item current-menu-item">
                <a href="index.html">Home</a>
              </li>

              <li class="menu-item">
                <a href="platform.html">Platform</a>
              </li>


              <li class="menu-item">
                <a href="education.html">Education</a>
              </li>

              <li class="menu-item">
                <a href="about.html">About</a>
              </li>

              <li class="menu-item">
                <a href="publications.html">Publications</a>
              </li>
              <li class="menu-item">
                <a href="contact.html">Contact Us</a>
              </li>
            </ul>
          </nav>
          <div class="toolbar">
          </div>
        </div>
      </div>
    </div><!-- Main navigation END -->
  </header>



  <main id="main">

    <!-- ======= Schedule Section ======= -->
    <section id="schedule" class="section-with-bg">
      <div class="container wow fadeInUp">
        <div class="">
          <h2 style="font-weight: bold; color: rgb(81, 52, 9); margin-bottom: 0px;"><span class="highlight">{{ name }}</span></h2>
          <small style="color: grey; font-style: italic; font-size: 14pt;">Foundation Of Data Science For Beginners</small>
          <h5><span class="badge badge-success">Series 1</span></h5>
          <!-- <p>Here is our event schedule</p> -->
          <div class="row">
            <div class="col-md-6">
              <!-- <img src="https://ideepeners.com/wp-content/uploads/2019/12/Data_Analysis-1.png" /> -->
              <img src="../webinars/assets/img/csg-data-analytics.png" />

            </div>
            <div class="col-md-6">
              <!-- <h3 style="text-decoration: underline; font-weight: bolder;">Overview</h4> -->
              <div class="row">
                <div class="col-md-4">
                  <img src="https://media-exp1.licdn.com/dms/image/C5603AQHiAp4NfT_JJQ/profile-displayphoto-shrink_400_400/0?e=1596672000&v=beta&t=WqjBs44sSJN_0-Pd3O660E4gra3HReHhgWDDlnl8rLs" width="200px">
                </div>
                <div class="col-md-8">
                  <h4><b>Instructor:</b> Bastin Robins .J</h4>
                  <p>A seasoned Data Scientist who has successfully built data products for largest FMCG's and Retail, Banking, Telecom, Social, Government from scratch and deployed it succcessfully with great feedbacks.</p>
                </div>

                <div class="col-md-7">
                  <h5><b>Date:</b> 16th, 17th, 18th July 2020</h5>
                  <h5><b>E-Cert:</b> LetSign Verified Credentials </h5>
                </div>

                <div class="col-md-5">
                  <h5><b>Platform:</b> Google meet</h5>
                  <h5><b>Tools:</b> Google Colab</h5>

                </div>
                <div class="col-md-12">
                   <p style="font-style: italic;">2020 is here and it’s time to learn Data Science! This Data Science Crash Course is a quick way to start your journey with Data Science. Our goal is to start programming right away on whatever computer you have right now. Just by reading this text, you’ll learn all the necessary terms to start coding and analysing data. Let’s go!</p>
                   <a href="" class="btn btn-block btn-success">Buy Ticket ₹600/ <small class="pull-right">*Inclusive of all taxes</small></a>

                </div>
              </div>
              
              
          

            </div>
          </div>
        </div>  
        

        <div class="tab-content row justify-content-center">          
          <!-- Schdule Day 1 -->
          <div role="tabpanel" class="col-lg-12 tab-pane fade show active" id="day-1">
            <div v-for="(day, index) in contents">
            <div class="row divider" :style="getDividerColor(index)">
              <h3 style="font-weight: 800; text-align: 'center'; text-decoration: underline;">Day {{ index+1 }}</h3>
            </div>
            <div :class="'row schedule-item '+ getDayColor(content.day)" v-for="content in day">
              <div class="col-md-2">
                <span :class="'badge badge-' + getDayLabel(content.day)">DAY - {{ content.day }}</span><br>
                <time style="font-size: 11px; font-weight: bolder;">{{ content.time }}</time>
              </div>
              <div class="col-md-8">
                <div class="speaker">
                  <img
                    src="https://media-exp1.licdn.com/dms/image/C5603AQHiAp4NfT_JJQ/profile-displayphoto-shrink_400_400/0?e=1596672000&v=beta&t=WqjBs44sSJN_0-Pd3O660E4gra3HReHhgWDDlnl8rLs"
                    alt="Bastin Robin">
                </div>
                <h4>{{ content.title }}</h4>
                <div style="margin-left: 70px;">
                <p>{{ content.description }}</p>
                <!-- <a href="https://bit.ly/3ebpZzv" style="color:#4CAF50;">Code</a>  -->
                </div>
              </div>
              <div class="col-md-1 green">
                <!-- <a href="https://youtu.be/IwnCb4WW7WE"
                  target="_blank">View</a> -->
                  <!-- <img src="../webinars/assets/img/arrow.png" height="10px"/> -->
                   <span class="glyphicon glyphicon-chevron-down"></span>
              </div>
            </div>
          </div>
            


          </div>
          <br>
          <h6 style="margin-top:50px"><b>Disclaimer:</b><br> This course will not make you a data scientist, but it will enable you to use apply foundations of data science practices in your existing job roles.</h6>
        </div>

      </div>

    </section><!-- End Schedule Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="site-footer footer-dark">
    <div class="footer-row">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <!-- Widget Start -->
            <section class="widget widget_startapp_site_info">
              <a href="index.html">
                <img alt="" src="https://cleverinsight.co/assets/img/cleverinsight.svg"></a>

              <p>
                CleverInsight was started by a team of bankers, data scientists, data engineers, programmers and
                marketing professionals whose main aim is to optimize the client's business. Our core areas are Banking
                &amp; Finance, Healthcare, Retail, Social Media, Telecom, IOT and Government. </p>

              <div class="social-bar sb-solid-bg sb-rounded sb-dark-skin text-left">
                <a class="social-btn waves-effect waves-light" data-placement="top" data-toggle="tooltip"
                  href="https://www.facebook.com/cleverinsight/" title="" data-original-title="Facebook"><i
                    class="socicon-facebook"></i></a>
                <a class="social-btn waves-effect waves-light" data-placement="top" data-toggle="tooltip"
                  href="https://twitter.com/clever_insight" title="" data-original-title="Twitter"><i
                    class="socicon-twitter"></i></a>
                <a class="social-btn waves-effect waves-light" data-placement="top" data-toggle="tooltip"
                  href="https://www.linkedin.com/company/cleverinsight" title="" data-original-title="LinkedIn"><i
                    class="socicon-linkedin"></i></a>
              </div>
              <br>
            </section><!-- Widget END -->
          </div>

          <div class="col-md-3 col-sm-6">
            <!-- Widget Start -->
            <section class="widget widget_nav_menu">
              <h3 class="widget-title">
                Useful Links
              </h3>

              <div class="menu-footer-menu-1-container">
                <ul class="menu">
                  <li class="menu-item">
                    <a href="index.html">Home</a>
                  </li>

                  <li class="menu-item">
                    <a href="about.html">About</a>
                  </li>
                  <li class="menu-item">
                    <a href="https://medium.com/@cleverinsight">Blog</a>
                  </li>
                  <li class="menu-item">
                    <a href="platform.html">Platform</a>
                  </li>
                  <li class="menu-item">
                    <a href="education.html">Education</a>
                  </li>
                  <li class="menu-item">
                    <a href="publications.html">Research &amp; Publications</a>
                  </li>

                  <li class="menu-item">
                    <a href="contact.html">Contact</a>
                  </li>
                </ul>
              </div>
            </section><!-- Widget END -->
          </div>

          <div class="clearfix visible-sm"></div>

          <div class="col-md-3 col-sm-6">
            <!-- Widget Start -->
            <section class="widget widget_startapp_recent_posts">
              <h3 class="widget-title">
                Featured On</h3>

              <div class="post-item">


                <div class="post-item-info">
                  <span class="post-item-date">Feb 02</span>
                  <h3 class="post-item-title">
                    <a href="http://analyticsindiamag.com/startup-week-hash-research-labs-optimizing-needs-bi-healthcare-education-house-analytics-engine/"
                      rel="bookmark">Analytic India Magazine</a>
                  </h3>
                </div>
              </div>

              <div class="post-item">


                <div class="post-item-info">
                  <span class="post-item-date">March 02</span>
                  <h3 class="post-item-title">
                    <a href="http://analyticsindiamag.com/best-practices-hiring-data-scientists/"
                      rel="bookmark">Analytic India Magazine</a>
                  </h3>
                </div>
              </div>

              <div class="post-item">


                <div class="post-item-info">
                  <span class="post-item-date">April 03</span>
                  <h3 class="post-item-title">
                    <a href="electronicsforu.com/market-verticals/automation/home-automation-in-india-2017-is-seemingly-the-year-of-smart-concepts-diy"
                      rel="bookmark">ElectronicForU</a>
                  </h3>
                </div>
              </div>
            </section><!-- Widget END -->
          </div>

          <div class="col-md-3 col-sm-6">
            <!-- Widget Start -->
            <section class="widget widget_startapp_contacts">
              <h3 class="widget-title">
                Get In Touch
              </h3>

              <div class="contact-item">
                <div class="contact-icon">
                  <i class="material-icons location_on"></i>
                </div>

                <div class="contact-info">
                  <span>CleverInsight<br><small>A Division of MindShare Learning Centre, Inc</small><br>149 Commonwealth
                    Drive</span><span>Menlo Park, CA 94025</span>
                </div>
              </div>

              <div class="contact-item">
                <div class="contact-icon">
                  <i class="material-icons smartphone"></i>
                </div>

                <div class="contact-info">
                  <span>1-408 888 4507</span>
                </div>
              </div>

              <div class="contact-item">
                <div class="contact-icon">
                  <i class="socicon-mail"></i>
                </div>

                <div class="contact-info">
                  <span>sales@cleverinsight.co</span>
                </div>
              </div>
            </section><!-- Widget Start -->
          </div>
        </div>
      </div>
    </div>



    <div class="copyright bg-primary text-light">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p class="copyright-text">
              CleverInsight - MindShare Learning Centre, Inc
              <a href="#"></a>
            </p>
          </div>

          <div class="col-sm-6 text-right"></div>
        </div>
      </div>
    </div>
  </footer>
  </div>
  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../webinars/assets/vendor/jquery/jquery.min.js"></script>
  <script src="../webinars/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="../webinars/assets/vendor/jquery.easing/jquery.easing.min.js"></script> -->
  <!-- <script src="../webinars/assets/vendor/php-email-form/validate.js"></script> -->
  <script src="../webinars/assets/vendor/wow/wow.min.js"></script>
  <script src="../webinars/assets/vendor/venobox/venobox.min.js"></script>
  <script src="../webinars/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../webinars/assets/vendor/superfish/superfish.min.js"></script>
  <!-- <script src="../webinars/assets/vendor/hoverIntent/hoverIntent.js"></script> -->

  <!-- Template Main JS File -->
  <script src="../webinars/assets/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script type="text/javascript">
    
    const app = new Vue({
      el: '#app',
      data: {
        name: "Hands-On Applied Data Science Bootcamp",
        contents: [
          [{
              title: "Introduction to Data Science",
              time: "10:00 AM - 10:20 AM",
              description: "There’s no doubt about it: data scientists are in high demand. As of 2020, the average data scientist in the US makes over $113,000 a year, and data scientists in San Francisco make over $140,000. Learn data science and you could find yourself working in this promising, well-compensated field.",
              day: 1
            },
            {
              title: "Analogies - Learn to Love Data",
              time: "10:20 AM - 10:40 AM",
              description: "Learning about machine learning, neural networks, image recognition, and other cutting-edge techniques is important. But most data science doesn’t involve any of it. As a working data scientist",
              day: 1
            },
            {
              title: "Define problem statement",
              time: "10:40 AM - 11:00 AM",
              description: "When a business approaches a data scientist with a problem they want to solve, they will always define the problem in layman's terms. This means the problem will not be clear enough, from an analytics point of view, to begin solving it right away. The problem needs to be well framed.",
              day: 1
            },

            {
              title: "Break",
              time: "11:00 AM - 11:20 AM",
              description: "-----",
              day: 1
            },
            {
              title: "Basic Of Python Programming",
              time: "11:20 AM - 12:20 PM",
              description: "Gain hands-on Experience in Python Packages like NumPy, Matplotlib & More. Master the Techniques of Python Deployment for Data Science & Work with Pandas library!",
              day: 1
            },
            {
              title: "Understanding Essential Packages",
              time: "12:20 PM - 12:40 PM",
              description: 'Python is one of the most popular languages used by data scientists and software developers alike for data science tasks. It can be used to predict outcomes, automate tasks, streamline processes, and offer business intelligence insights. It’s possible to work with data in vanilla Python, but there are quite a few open-source libraries that make Python data tasks much, much easier.',
              day: 1
            }],
          [{
            title: "Data Wrangling and Cleaning",
            time: "10:00 AM - 10:40 AM",
            description: '90% of your work will be data cleaning. Process of transforming and mapping data from one "raw" data form into another format with the intent of making it more appropriate and valuable for a variety of downstream purposes such as analytics.',
            day: 2
          },
          {
            title: "Exploratory Data Analysis",
            time: "12:20 PM - 12:40 PM",
            description: 'Exploratory Data Analysis refers to the critical process of performing initial investigations on data so as to discover patterns,to spot anomalies,to test hypothesis and to check assumptions with the help of summary statistics and graphical representations. Part of communicating insights is understanding the topic and theory — you’ll never be able to explain to others something that you don’t understand yourself. Another part is understanding how to clearly organize your results. The final piece is being able to explain your analysis clearly.',
            day: 2
          },
          {
            title: "Break",
            time: "11:00 AM - 11:20 AM",
            description: "-----",
            day: 2
          },
          {
            title: "Machine Learning Models",
            time: "12:20 PM - 12:40 PM",
            description: 'A machine learning model is a file that has been trained to recognize certain types of patterns. You train a model over a set of data, providing it an algorithm that it can use to reason over and learn from those data.',
            day: 2
          },
          {
            title: "How to Pick Right ML Model",
            time: "12:20 PM - 12:40 PM",
            description: 'Knowing a few algorithms really well is better than knowing a little about many algorithms. If you know linear regression, k-means clustering, and logistic regression well, can explain and interpret their results, and can actually complete a project from start to finish with them, you’ll be much more employable than if you know every single algorithm, but can’t use them.',
            day: 2
          }],
          [{
            title: "Build Capstone Usecase with Machine Learning Model",
            time: "12:20 PM - 12:40 PM",
            description: 'Create a project that you can use to showcase your Data Science skills to prospective employers. Apply various data science and machine learning techniques. Let’s jump straight into some Machine Learning project ideas that will strengthen your base and allow you to climb up the ladder. ',
            day: 3
          },
          {
            title: "Grid Search & Hyperparamer Tuning",
            time: "12:20 PM - 12:40 PM",
            description: 'Hyperparameters are crucial as they control the overall behaviour of a machine learning model. The ultimate goal is to find an optimal combination of hyperparameters that minimizes a predefined loss function to give better results.',
            day: 3
          },
          {
            title: "Break",
            time: "11:00 AM - 11:20 AM",
            description: "-----",
            day: 3
          },
          {
            title: "Interpreting the Model & Save Model",
            time: "12:20 PM - 12:40 PM",
            description: 'Interpreting Machine Learning models is no longer a luxury but a necessity given the rapid adoption of AI in the industry. How human interpret machine learning where we look at essential concepts pertaining to major strategies for model interpretation.',
            day: 3
          },
          {
            title: "Deploying Model as Webservice",
            time: "12:20 PM - 12:40 PM",
            description: 'If an ML model makes a prediction in Jupyter, is anyone around to hear it? Probably not. Deploying models is the key to making them useful.',
            day: 3
          },
          {
            title: "QA Session",
            time: "12:20 PM - 12:40 PM",
            description: 'Open for questions and networking session',
            day: 3
          },
          {
            title: "Closing Note",
            time: "12:20 PM - 12:40 PM",
            description: '',
            day: 3
          }]

        ]
      },
      methods: {
        getDayColor: function(d) {

            if(d==1) {
              return 'day1';
            } else if(d==2) {
              return 'day2'
            } else {
              return 'day3'
            }
        },

        getDayLabel: function(d) {

            if(d==1) {
              return 'info';
            } else if(d==2) {
              return 'warning'
            } else {
              return 'success'
            }
        },
        getDividerColor: function(d) {

          if(d==0) {
            return 'background: #ff9800';
          } else if (d==1) {
            return 'background: #ffc107';
          } else {
            return 'background: #8bc34a';
          }


      }
      },


    });
  </script>

</body>

</html>