<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Feature Engineering & Selection Using Python</title>

  <META NAME="author" CONTENT="Bastin Robins J">
  <META NAME="subject" CONTENT="CleverInsight">
  <META NAME="Description"
    CONTENT="3 Days Bootcamp on Feature Engineering and Feature Selection For Building Efficient Machine Learning Model.">
  <META NAME="Classification"
    CONTENT="3 Days Bootcamp on Feature Engineering and Feature Selection For Building Efficient Machine Learning Model.">
  <META NAME="Keywords"
    CONTENT="Sales Analytics, Retail Insight, Sales Insight, Healthcare Predictive Insight, Social Media Insight, Telecom Analytics, Banking Insight, Financial Insight, IOT Insight, CleverInsight, Clever Insight,">
  <META NAME="Geography" CONTENT="149 CommonWealth Drive Menlo Park, CA 94025  ">
  <META NAME="Language" CONTENT="English">
  <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
  <META NAME="Copyright" CONTENT="CleverInsight Inc">
  <META NAME="Designer" CONTENT="Bastin Robins J">
  <META NAME="Publisher" CONTENT="CleverInsight Team">
  <META NAME="distribution" CONTENT="Global">
  <META NAME="zipcode" CONTENT="94025">
  <META NAME="city" CONTENT="Menlo Park">
  <META NAME="country" CONTENT="USA">
  <meta name="image" content="http://cleverinsight.co/assets/img/cleverinsight.svg">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="Feature Engineering & Selection Using Python">
  <meta itemprop="description"
    content="3 Days Bootcamp on Feature Engineering and Feature Selection For Building Efficient Machine Learning Model.">
  <meta itemprop="image" content="http://cleverinsight.co/assets/img/cleverinsight.svg">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Feature Engineering & Selection Using Python">
  <meta name="twitter:description"
    content="3 Days Bootcamp on Feature Engineering and Feature Selection For Building Efficient Machine Learning Model.">
  <meta name="twitter:site" content="@getCleverInsight">
  <meta name="twitter:creator" content="@bastinrobin">
  <meta name="twitter:image:src" content="http://cleverinsight.co/assets/img/cleverinsight.svg">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="Feature Engineering & Selection Using Python">
  <meta name="og:description"
    content="3 Days Bootcamp on Feature Engineering and Feature Selection For Building Efficient Machine Learning Model.">
  <meta name="og:image" content="http://cleverinsight.co/assets/img/cleverinsight.svg">
  <meta name="og:url" content="http://cleverinsight.co">
  <meta name="og:site_name" content="CleverInsight">
  <meta name="og:video" content="https://vimeo.com/176410174">
  <meta name="og:type" content="website">
  <!-- Favicon Images -->
  <link rel="icon" href="../webinars/assets/img/favicon.png" />
  <link rel="icon" href="../webinars/assets/img/favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="../webinars/assets/img/favicon.png" />
  <meta name="msapplication-TileImage" content="../webinars/assets/img/favicon.png" />
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../webinars/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="../webinars/assets/vendor/animate.css/animate.min.css" rel="stylesheet"> -->
  <!-- <link href="../webinars/assets/vendor/venobox/venobox.css" rel="stylesheet"> -->
  <!-- <link href="../webinars/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet"> -->
  <!-- <link href="../webinars/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet"> -->

  <link rel='stylesheet' href='https://cleverinsight.co/assets/stylesheets/vendor/socicon.min.css' type='text/css'
    media='screen' />
  <link rel='stylesheet' href='https://cleverinsight.co/assets/stylesheets/vendor/material-icons.min.css'
    type='text/css' media='all' />
  <!-- Main Theme Style -->
  <link rel='stylesheet' href='https://cleverinsight.co/assets/stylesheets/theme.min.css' type='text/css'
    media='screen' />

  <!-- Template Main CSS File -->
  <link href="../webinars/assets/css/style.css" rel="stylesheet">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
  ga('create', 'UA-97045792-1', 'auto');
  ga('send', 'pageview');
  
  </script>


  <style type="text/css">
    .nav-menu li.buy-tickets a, .green a {     
        background: #8BC34A; 
        border: 2px solid #4CAF50; 
        color: #fff;
        padding: 7px 22px;
        border-radius: 50px;
        transition: all ease-in-out 0.3s;
        font-weight: 500;
        margin-left: 8px;
        margin-top: 2px;
        line-height: 1;
        font-size: 13px;
        text-decoration: none;
    }


    .day1 {
      background: #cef0ff;
    }
    .day2 {
      background: #c5ceff;
    }
    .day3 {
      background: #f3ff78;
    }
    .divider{
      background: #4caf50;
      font-family: sans-serif;
      padding-left: 50px;
      padding-top:12px;
    }

    .divider h3 {
      color: #fff;
      font-family: 'Varela Round', sans-serif;

    }

    h1, h2, h3, h4, h5, h6 {
      font-family: 'Varela Round', sans-serif;
    }

    .highlight {
      background: url(../webinars/assets/img/yellow-brushstroke.png);
      background-repeat: no-repeat;
      background-size: 100% 95%;
      padding: 8px 0;
      }
  </style>

</head>

<body>
  <div id="app">
  <header class="site-header navbar-sticky loading-done">
    <!-- Topbar -->
    <div class="topbar topbar-primary text-light">
      <div class="container">
        <div class="inner">
          <div class="column">
            <div class="">
              <span><i class="material-icons language"></i> English</span>

            </div>
          </div>
          <div class="column text-right">
            <nav class="topbar-menu">
              <ul class="menu">
                <li class="menu-item">
                  <a href="careers.html">Careers</a>
                </li>
                <li class="menu-item">
                  <a href="/contact.html">Contact</a>
                </li>

              </ul>
            </nav>
            <div class="social-bar sb-solid-bg sb-rounded sb-dark-skin text-left">
              <a class="social-btn" href="https://www.facebook.com/CleverInsight-278317225925865/"><i
                  class="socicon-facebook"></i></a>
              <a class="social-btn" href="https://www.linkedin.com/company/cleverinsight"><i
                  class="socicon-linkedin"></i></a>
              <a class="social-btn" href="https://twitter.com/getCleverInsight"><i class="socicon-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Topbar END -->
    <div class="site-info">
      <div class="container">
        <div class="inner">
          <div class="column">
            <a class="" href="/">
              <img width="200px" src="https://cleverinsight.co/assets/img/cleverinsight.svg">
            </a>
          </div>
          <div class="column text-right">
            <div class="widget widget_startapp_contacts">
              <div class="contact-item">
                <div class="contact-icon">
                  <i class="material-icons smartphone"></i>
                </div>
                <div class="contact-info">
                  <span>1-408-888-4507</span><span>sales@cleverinsight.co</span>
                </div>
              </div>
              <div class="contact-item">
                <div class="contact-icon">
                  <i class="material-icons location_on"></i>
                </div>
                <div class="contact-info">
                  <span>149 Commonwealth Drive</span><span>Menlo Park, CA 94025</span>
                </div>
              </div>
              <div class="contact-item">
                <div class="contact-icon">
                  <i class="material-icons access_time"></i>
                </div>
                <div class="contact-info">
                  <span>09:00 – 17:00 (IST)</span><span>Monday to Friday</span>
                </div>
              </div>
            </div>
            <div class="toolbar">
              <a class="topbar-btn tool" href="#"><i class="material-icons more_horiz"></i></a><a class="menu-btn tool"
                data-toggle="offcanvas" href="#"><i class="material-icons menu"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main navigation -->
    <!-- Visible only on desktop -->
    <div class="sticky-wrapper" style="">
      <div class="navbar navbar-justified">
        <div class="container">
          <nav class="main-navigation">
            <ul class="menu">
              <li class="menu-item current-menu-item">
                <a href="/">Home</a>
              </li>

              <li class="menu-item">
                <a href="/platform.html">Platform</a>
              </li>


              <li class="menu-item">
                <a href="/education.html">Education</a>
              </li>

              <li class="menu-item">
                <a href="/about.html">About</a>
              </li>

              <li class="menu-item">
                <a href="/publications.html">Publications</a>
              </li>
              <li class="menu-item">
                <a href="/contact.html">Contact Us</a>
              </li>
            </ul>
          </nav>
          <div class="toolbar">
          </div>
        </div>
      </div>
    </div><!-- Main navigation END -->
  </header>



  <main id="main">

    <!-- ======= Schedule Section ======= -->
    <section id="schedule">
      <div class="container wow fadeInUp">
        <div class="">
          <h2 style="font-weight: bold; color: rgb(81, 52, 9); margin-bottom: 0px;"><span class="highlight">{{ name }}</span></h2>
          <small style="color: grey; font-style: italic; font-size: 14pt;"> Are you someone who works as <span class="label" style="color: #4CAF50;background: #edfadf;">Faculty, Programmer, Manager or Student</span> who seriously look for an way where you can learn the right way to clean and engineering data. This bootcamp is for you. We will use `Python` to solve all data challenges.</small>
          <h5><span class="badge badge-success">3 Days - Series 2</span></h5>
          <!-- <p>Here is our event schedule</p> -->
          <div class="row">
            <div class="col-md-6">
              <!-- <img src="../webinars/assets/img/data-science.png" />
              <img src="../webinars/assets/img/csg-data-analytics.png" /> -->
              <div class="row">
                <div class="col-md-12">
                  <img src="https://www.bizprospex.com/wp-content/uploads/2018/06/data-research-outsourcing-1080x675.png">
                </div>
                <div class="col-md-8" style="top:40px">
                  <h4 style="margin-bottom: 2px;"><b>Key Takeaways</b></h4>

                  <ul class="list-group">
                    <li style="font-size: 20px; line-height: 1.1; font-style: italic;" class="text-muted">10 Hours of training</li>
                    <li style="font-size: 20px; line-height: 1.1; font-style: italic;" class="text-muted">8+ LIVE Mentor Coding Sessions</li>
                    <li style="font-size: 20px; line-height: 1.1; font-style: italic;" class="text-muted">Certificate Of Completion</li>

                  </ul>
                </div>
              </div>

            </div>
            <div class="col-md-6 card card-body" style="border:2px dashed rgb(194, 196, 196);">
              <!-- <h3 style="text-decoration: underline; font-weight: bolder;">Overview</h4> -->
              <div class="row">
                <div class="col-md-4">
                  <img src="../assets/img/3523655.jpeg" width="200px">
                </div>
                <div class="col-md-8">
                  <h4 style="margin-bottom: 2px;"><b>Instructor:</b> Bastin Robins .J</h4>
                  <h6>Chief Data Scientist</h6>
                  <p>A seasoned Data Scientist who has successfully built data products for an array of sectors including FMCG's, Retail, Banking, Telecom, Social and Government organizations from scratch and deployed it successfully with great feedbacks.</p>
                </div>

                <div class="col-md-7">
                  <h5><b class="text-info">Date:</b> 7th, 8th, 9th August 2020</h5>
                  <h5><b class="text-info">Shareable Certificate:</b> LetSign Credentials </h5>
                </div>

                <div class="col-md-5">
                  <h5><b class="text-info">Platform:</b> Google meet</h5>
                  <h5><b class="text-info">Tools:</b> Google Colab</h5>

                </div>
                <div class="col-md-12">
                   <p style="font-style: italic;">Feature engineering is the process of transforming raw data into features that better represent the underlying problem to the predictive models, resulting in improved model accuracy on unseen data. Feature engineering turn your inputs into things the algorithm can understand.</p>
                   <a href="https://pages.razorpay.com/feature-engineering-bootcamp" class="btn btn-block btn-success">Register Now In ₹599/ <small class="pull-right">*Inclusive of all taxes</small></a>
                </div>
              </div>
              

            </div>
          </div>
        </div>  
        

        <div class="tab-content row justify-content-center">          
          <!-- Schdule Day 1 -->
          <div role="tabpanel" class="col-lg-12 tab-pane fade show active" id="day-1">
            <div v-for="(day, index) in contents">
            <div class="row divider" :style="getDividerColor(index)">
              <h3 class="mx-auto" style="font-weight: 800; text-align: 'center'; text-decoration: underline;">Day {{ index+1 }}</h3>
            </div>
            <div :class="'row schedule-item '+ getDayColor(content.day)" v-for="content in day">
              <div class="col-md-2">
                <h4><span :class="'badge badge-' + getDayLabel(content.day)" style="color: #fff;">{{ content.date }}</span></h4>
                <!-- <span :class="'badge badge-' + getDayLabel(content.day)">DAY - {{ content.day }}</span><br> -->
                <time style="font-size: 11px; font-weight: bolder;">{{ content.time }}</time>
              </div>
              <div class="col-md-8">
                <div class="speaker">
                  <img
                    src="https://media-exp1.licdn.com/dms/image/C5603AQHiAp4NfT_JJQ/profile-displayphoto-shrink_400_400/0?e=1596672000&v=beta&t=WqjBs44sSJN_0-Pd3O660E4gra3HReHhgWDDlnl8rLs"
                    alt="Bastin Robin">
                </div>
                <h4>{{ content.title }}</h4>
                <div style="margin-left: 70px;">
                <p>
                  {{ content.description }} 

                </p>
                <!-- <a href="https://bit.ly/3ebpZzv" style="color:#4CAF50;">Code</a>  -->
                </div>
              </div>
              <div class="col-md-1 green">
                <!-- <a href="https://youtu.be/IwnCb4WW7WE"
                  target="_blank">View</a> -->
                  <!-- <img src="../webinars/assets/img/arrow.png" height="10px"/> -->
                   <span class="glyphicon glyphicon-chevron-down"></span>
              </div>
            </div>
          </div>
            


          </div>
          <br>
          <h6 style="margin-top:50px"><b>Disclaimer:</b><br>This crash course will not make you a data scientist, but will enable you to use applied foundations of data science practices in your existing job roles.</h6>
        </div>

      
        

    </section><!-- End Schedule Section -->
    <div class="container">
      <div class="row">
          <div class="col-md-12">
            <h3 style="margin-top: 22px;">What others say</h3>
          </div>
          <div class="col-md-3 " style="border-radius: 10px;" v-for="comment in testimonials">
            <h5 class="text-primary" style="margin-bottom: 0px; margin-top: 5px;">{{ comment.name }}</h5>
            <small class="text-info">{{ comment.org}}</small>
            <p class="text-muted" style="font-style: italic;">{{ comment.desc }}</p>
          </div>
          
      </div>
      <div class="row justify-content-center" style="margin-top: 120px;">
        <h2 class="text-center"><span class="highlight">Reserve your seat</span></h2>

        <a href="https://pages.razorpay.com/feature-engineering-bootcamp" class="btn btn-block btn-lg btn-success">Register Now In ₹599/ <small class="pull-right">*Inclusive of all taxes</small></a>

        <h4>For more: WhatsApp Us: <a class="text-primary" href="tel:+916381042094">+916381042094</a></h4>

      </div>
    </div>
    </div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="site-footer footer-dark">
    <div class="footer-row">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <!-- Widget Start -->
            <section class="widget widget_startapp_site_info">
              <a href="/">
                <img alt="" src="https://cleverinsight.co/assets/img/cleverinsight.svg"></a>

              <p>
                CleverInsight was started by a team of bankers, data scientists, data engineers, programmers and
                marketing professionals whose main aim is to optimize the client's business. Our core areas are Banking
                &amp; Finance, Healthcare, Retail, Social Media, Telecom, IOT and Government. </p>

              <div class="social-bar sb-solid-bg sb-rounded sb-dark-skin text-left">
                <a class="social-btn waves-effect waves-light" data-placement="top" data-toggle="tooltip"
                  href="https://www.facebook.com/cleverinsight/" title="" data-original-title="Facebook"><i
                    class="socicon-facebook"></i></a>
                <a class="social-btn waves-effect waves-light" data-placement="top" data-toggle="tooltip"
                  href="https://twitter.com/clever_insight" title="" data-original-title="Twitter"><i
                    class="socicon-twitter"></i></a>
                <a class="social-btn waves-effect waves-light" data-placement="top" data-toggle="tooltip"
                  href="https://www.linkedin.com/company/cleverinsight" title="" data-original-title="LinkedIn"><i
                    class="socicon-linkedin"></i></a>
              </div>
              <br>
            </section><!-- Widget END -->
          </div>

          <div class="col-md-3 col-sm-6">
            <!-- Widget Start -->
            <section class="widget widget_nav_menu">
              <h3 class="widget-title">
                Useful Links
              </h3>

              <div class="menu-footer-menu-1-container">
                <ul class="menu">
                  <li class="menu-item">
                    <a href="/">Home</a>
                  </li>

                  <li class="menu-item">
                    <a href="/about.html">About</a>
                  </li>
                  <li class="menu-item">
                    <a href="https://medium.com/@cleverinsight">Blog</a>
                  </li>
                  <li class="menu-item">
                    <a href="/platform.html">Platform</a>
                  </li>
                  <li class="menu-item">
                    <a href="/education.html">Education</a>
                  </li>
                  <li class="menu-item">
                    <a href="/publications.html">Research &amp; Publications</a>
                  </li>

                  <li class="menu-item">
                    <a href="/contact.html">Contact</a>
                  </li>
                </ul>
              </div>
            </section><!-- Widget END -->
          </div>

          <div class="clearfix visible-sm"></div>

          <div class="col-md-3 col-sm-6">
            <!-- Widget Start -->
            <section class="widget widget_startapp_recent_posts">
              <h3 class="widget-title">
                Featured On</h3>

              <div class="post-item">


                <div class="post-item-info">
                  <span class="post-item-date">Feb 02</span>
                  <h3 class="post-item-title">
                    <a href="http://analyticsindiamag.com/startup-week-hash-research-labs-optimizing-needs-bi-healthcare-education-house-analytics-engine/"
                      rel="bookmark">Analytic India Magazine</a>
                  </h3>
                </div>
              </div>

              <div class="post-item">


                <div class="post-item-info">
                  <span class="post-item-date">March 02</span>
                  <h3 class="post-item-title">
                    <a href="http://analyticsindiamag.com/best-practices-hiring-data-scientists/"
                      rel="bookmark">Analytic India Magazine</a>
                  </h3>
                </div>
              </div>

              <div class="post-item">


                <div class="post-item-info">
                  <span class="post-item-date">April 03</span>
                  <h3 class="post-item-title">
                    <a href="electronicsforu.com/market-verticals/automation/home-automation-in-india-2017-is-seemingly-the-year-of-smart-concepts-diy"
                      rel="bookmark">ElectronicForU</a>
                  </h3>
                </div>
              </div>
            </section><!-- Widget END -->
          </div>

          <div class="col-md-3 col-sm-6">
            <!-- Widget Start -->
            <section class="widget widget_startapp_contacts">
              <h3 class="widget-title">
                Get In Touch
              </h3>

              <div class="contact-item">
                <div class="contact-icon">
                  <i class="material-icons location_on"></i>
                </div>

                <div class="contact-info">
                  <span>CleverInsight<br><small>A Division of MindShare Learning Centre, Inc</small><br>149 Commonwealth
                    Drive</span><span>Menlo Park, CA 94025</span>
                </div>
              </div>

              <div class="contact-item">
                <div class="contact-icon">
                  <i class="material-icons smartphone"></i>
                </div>

                <div class="contact-info">
                  <span>1-408 888 4507</span>
                </div>
              </div>

              <div class="contact-item">
                <div class="contact-icon">
                  <i class="socicon-mail"></i>
                </div>

                <div class="contact-info">
                  <span>sales@cleverinsight.co</span>
                </div>
              </div>
            </section><!-- Widget Start -->
          </div>
        </div>
      </div>
    </div>



    <div class="copyright bg-primary text-light">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p class="copyright-text">
              CleverInsight - MindShare Learning Centre, Inc
              <a href="#"></a>
            </p>
          </div>

          <div class="col-sm-6 text-right"></div>
        </div>
      </div>
    </div>
  </footer>
  </div>
  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../webinars/assets/vendor/jquery/jquery.min.js"></script>
  <script src="../webinars/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="../webinars/assets/vendor/jquery.easing/jquery.easing.min.js"></script> -->
  <!-- <script src="../webinars/assets/vendor/php-email-form/validate.js"></script> -->
  <script src="../webinars/assets/vendor/wow/wow.min.js"></script>
  <script src="../webinars/assets/vendor/venobox/venobox.min.js"></script>
  <script src="../webinars/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../webinars/assets/vendor/superfish/superfish.min.js"></script>
  <!-- <script src="../webinars/assets/vendor/hoverIntent/hoverIntent.js"></script> -->

  <!-- Template Main JS File -->
  <script src="../webinars/assets/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script type="text/javascript">
    
    const app = new Vue({
      el: '#app',
      data: {
        name: "Feature Engineering and Selection Using Python",
        contents: [
          [{
              title: "Introduction to Feature Engineering",
              time: "05:00 PM - 05:30 PM",
              description: "Feature engineering is the process of transforming raw data into features that better represent the underlying problem to the predictive models, resulting in improved model accuracy on unseen data. Feature engineering turn your inputs into things the algorithm can understand.",
              day: 1,
              date: '7th August'
            },
            {
              title: "Raw Data to Features",
              time: "05:30 PM - 06:00 PM",
              description: "We all know that a good ML model needs a large preprocessed dataset with good features. But the question is how to find good features.",
              day: 1,
              date: '7th August'
            },
            
            {
              title: "Good vs Bad Variables",
              time: "06:00 PM - 07:00 PM",
              description: "Prefer clear and obvious meanings. Each feature should have a clear and obvious meaning to anyone on the project. For example, the following good feature is clearly named and the value makes sense with respect to the name",
              day: 1,
              date: '7th August'
            },
            {
              title: "Characteristics Of Variables",
              time: "07:00 PM - 08:00 PM",
              description: "A variable is any characteristics, number, or quantity that can be measured or counted. A variable may also be called a data item. Age, sex, business income and expenses, country of birth, capital expenditure, class grades, eye colour and vehicle type are examples of variables.",
              day: 1,
              date: '7th August'
            }],


          [{
              title: "Imputation of Missing Values",
              time: "05:00 PM - 06:00 PM",
              description: "In statistics, imputation is the process of replacing missing data with substituted values. ... That is to say, when one or more values are missing for a case, most statistical packages default to discarding any case that has a missing value, which may introduce bias or affect the representativeness of the results.",
              day: 2,
              date: '8th August'
          },
          {
              title: "Categorical Variable Encoding",
              time: "06:00 PM - 06:30 PM",
              description: 'Machine learning models require all input and output variables to be numeric. This means that if your data contains categorical data, you must encode it to numbers before you can fit and evaluate a model.',
              day: 2,
              date: '8th August'
          },
          {
            title: "Data Transformation",
            time: "06:30 PM - 07:00 PM",
            description: 'Data transformation is the process of converting data from one format to another, typically from the format of a source system into the required format of a destination system. Data transformation is a component of most data integration and data management tasks, such as data wrangling and data warehousing',
            day: 2,
            date: '8th August'
          },
          {
            title: "Outlier Detection &  Handling",
            time: "07:00 PM - 08:00 PM",
            description: 'The presence of outliers in a classification or regression dataset can result in a poor fit and lower predictive modeling performance. ... Instead, automatic outlier detection methods can be used in the modeling pipeline and compared, just like other data preparation transforms that may be applied to the dataset',
            day: 2,
            date: '8th August'
          }],
          [{
            title: "Feature Scaling & Normalization",
            time: "05:00 PM - 06:30 PM",
            description: 'Feature scaling is a method used to normalize the range of independent variables or features of data. In data processing, it is also known as data normalization and is generally performed during the data preprocessing step',
            day: 3,
            date: '9th August'
          },
      
          {
            title: "Handling Datetime Values",
            time: "06:30 PM - 07:00 PM",
            description: 'It’s worth reiterating, dates and times are a treasure trove of information and that is why data scientists love them so much.',
            day: 3,
            date: '9th August'
          },
          {
            title: "Feature Engineering Pipelines",
            time: "07:00 PM - 07:30 PM",
            description: "I'll focus on feature engineering using sklearn pipelines . What are pipelines ?. In short pipelines are ways to organize your transformers.",
            day: 3,
            date: '9th August'
          },
          {
            title: "QA Session",
            time: "07:30 PM - 08:00 PM",
            description: 'Open for questions and networking session',
            day: 3,
            date: '9th August'
          },
          {
            title: "Feedback & Closing Note",
            time: "08:00 PM - 08:30 PM",
            description: 'Closing session',
            day: 3,
            date: '9th August'
          }]

        ],
        testimonials: [
          {
            name: "Shubham Samanta",
            org: "Swiggy",
            desc: "It was interesting, and I liked it a lot, learned properly about NLP and how does it works"
          },
          {
            name: "Aarti Ravariya",
            org: "eClerx Service Ltd",
            desc: "According to me Bastin spoked and explained each and every point clearly,  in dept."
          },
          {
            name: "Namrata Singh",
            org: "University of Lucknow",
            desc: "I had almost viewed all your videos on youtube, I like the way of your explanation, the way you simplify things. Thank you :)"
          },
          {
            name: "Jadhav Swati Shailesh",
            org: "MES Abasaheb Garware College",
            desc: "Many packages are available, but I was not aware of them. This webinar helped me in understanding of these packages and their usage. I would like to attend webinar on Deep learning."
          },
          {
            name: "GURUNATHAN M",
            org: "MANONMANIAM SUNDARANAR UNIVERSITY COLLEGE, SANKARANKOVIL",
            desc: "Excellent presentation. It was very useful to my research."
          },
          {
            name: "Geetha Santhosh",
            org: "Acropolis Institute of Technology & Research",
            desc: "Good Presentation with great clarity"
          },
          {
            name: "Seema S",
            org: "College of Engineering , Trivandrum",
            desc:"Overall good presentation! crisp and to the point slides!"
          },
          {
            name: "Dr. K. SANKAR",
            org: "VIVEKANANDHA COLLEGE OF ENGINEERING FOR WOMEN",
            desc:"The webinar was well organized and useful.  The resource person is highly knowledgeable"
          }
        ]
      },
      methods: {
        getDayColor: function(d) {

            if(d==1) {
              return 'day1';
            } else if(d==2) {
              return 'day2'
            } else {
              return 'day3'
            }
        },

        getDayLabel: function(d) {

            if(d==1) {
              return 'info';
            } else if(d==2) {
              return 'warning'
            } else {
              return 'success'
            }
        },
        getDividerColor: function(d) {

          if(d==0) {
            return 'background: #2196F3';
          } else if (d==1) {
            return 'background: #3F51B5';
          } else {
            return 'background: #8bc34a';
          }


      }
      },


    });
  </script>

</body>

</html>