<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>From Data To Action Workshop Series</title>
  <META NAME="author" CONTENT="Bastin Robins J">
  <META NAME="subject" CONTENT="CleverInsight">
  <META NAME="Description"
    CONTENT="From Data To Action Workshop Series">
  <META NAME="Classification"
    CONTENT="From Data To Action Workshop Series">
  <META NAME="Keywords"
    CONTENT="Sales Analytics, Retail Insight, Sales Insight, Healthcare Predictive Insight, Social Media Insight, Telecom Analytics, Banking Insight, Financial Insight, IOT Insight, CleverInsight, Clever Insight,">
  <META NAME="Geography" CONTENT="149 CommonWealth Drive Menlo Park, CA 94025  ">
  <META NAME="Language" CONTENT="English">
  <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
  <META NAME="Copyright" CONTENT="CleverInsight Inc">
  <META NAME="Designer" CONTENT="Bastin Robins J">
  <META NAME="Publisher" CONTENT="CleverInsight Team">
  <META NAME="distribution" CONTENT="Global">
  <META NAME="zipcode" CONTENT="94025">
  <META NAME="city" CONTENT="Menlo Park">
  <META NAME="country" CONTENT="USA">
  <meta name="image" content="http://cleverinsight.co/assets/img/cleverinsight.svg">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="From Data To Action Workshop Series">
  <meta itemprop="description"
    content="From Data To Action Workshop Series">
  <meta itemprop="image" content="http://cleverinsight.co/assets/img/cleverinsight.svg">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="From Data To Action Workshop Series">
  <meta name="twitter:description"
    content="From Data To Action Workshop Series">
  <meta name="twitter:site" content="@getCleverInsight">
  <meta name="twitter:creator" content="@bastinrobin">
  <meta name="twitter:image:src" content="http://cleverinsight.co/assets/img/cleverinsight.svg">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="From Data To Action Workshop Series">
  <meta name="og:description"
    content="From Data To Action Workshop Series">
  <meta name="og:image" content="http://cleverinsight.co/assets/img/cleverinsight.svg">
  <meta name="og:url" content="http://cleverinsight.co">
  <meta name="og:site_name" content="CleverInsight">
  <meta name="og:video" content="https://vimeo.com/176410174">
  <meta name="og:type" content="website">
  <!-- Favicon Images -->
  <link rel="icon" href="../webinars/assets/img/favicon.png" />
  <link rel="icon" href="../webinars/assets/img/favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="../webinars/assets/img/favicon.png" />
  <meta name="msapplication-TileImage" content="../webinars/assets/img/favicon.png" />
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../webinars/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="../webinars/assets/vendor/animate.css/animate.min.css" rel="stylesheet"> -->
  <!-- <link href="../webinars/assets/vendor/venobox/venobox.css" rel="stylesheet"> -->
  <!-- <link href="../webinars/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet"> -->
  <!-- <link href="../webinars/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet"> -->

  <link rel='stylesheet' href='https://cleverinsight.co/assets/stylesheets/vendor/socicon.min.css' type='text/css'
    media='screen' />
  <link rel='stylesheet' href='https://cleverinsight.co/assets/stylesheets/vendor/material-icons.min.css'
    type='text/css' media='all' />
  <!-- Main Theme Style -->
  <link rel='stylesheet' href='https://cleverinsight.co/assets/stylesheets/theme.min.css' type='text/css'
    media='screen' />

  <!-- Template Main CSS File -->
  <link href="../webinars/assets/css/style.css" rel="stylesheet">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
  ga('create', 'UA-97045792-1', 'auto');
  ga('send', 'pageview');
  
  </script>


  <style type="text/css">
    .nav-menu li.buy-tickets a, .green a {     
        background: #8BC34A; 
        border: 2px solid #4CAF50; 
        color: #fff;
        padding: 7px 22px;
        border-radius: 50px;
        transition: all ease-in-out 0.3s;
        font-weight: 500;
        margin-left: 8px;
        margin-top: 2px;
        line-height: 1;
        font-size: 13px;
        text-decoration: none;
    }


    .day1 {
      background:#fcfcfc;
    }
    .day2 {
      background: #fcfcfc;
    }
    .day3 {
      background: #fcfcfc;
    }
    .day4 {
      background:#fcfcfc;
    }
    .day5 {
      background: #fcfcfc;
    }
    .divider{
      background: #4caf50;
      font-family: sans-serif;
      padding-left: 50px;
      padding-top:12px;
      margin-top:30px;
    }

    .divider h3 {
      color: #fff;
      font-family: 'Varela Round', sans-serif;

    }

    h1, h2, h3, h4, h5, h6 {
      font-family: 'Varela Round', sans-serif;
    }

    .highlight {
      background: url(../webinars/assets/img/yellow-brushstroke.png);
      background-repeat: no-repeat;
      background-size: 100% 95%;
      padding: 8px 0;
      }
  </style>

</head>

<body>
  <div id="app">
  <header class="site-header navbar-sticky loading-done">
    <!-- Topbar -->
    <div class="topbar topbar-primary text-light">
      <div class="container">
        <div class="inner">
          <div class="column">
            <div class="">
              <span><i class="material-icons language"></i> English</span>

            </div>
          </div>
          <div class="column text-right">
            <nav class="topbar-menu">
              <ul class="menu">
                <li class="menu-item">
                  <a href="careers.html">Careers</a>
                </li>
                <li class="menu-item">
                  <a href="/contact.html">Contact</a>
                </li>

              </ul>
            </nav>
            <div class="social-bar sb-solid-bg sb-rounded sb-dark-skin text-left">
              <a class="social-btn" href="https://www.facebook.com/CleverInsight-278317225925865/"><i
                  class="socicon-facebook"></i></a>
              <a class="social-btn" href="https://www.linkedin.com/company/cleverinsight"><i
                  class="socicon-linkedin"></i></a>
              <a class="social-btn" href="https://twitter.com/getCleverInsight"><i class="socicon-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Topbar END -->
    <div class="site-info">
      <div class="container">
        <div class="inner">
          <div class="column">
            <a class="" href="/">
              <img width="200px" src="https://cleverinsight.co/assets/img/cleverinsight.svg">
            </a>
          </div>
          <div class="column text-right">
            <div class="widget widget_startapp_contacts">
              <div class="contact-item">
                <div class="contact-icon">
                  <i class="material-icons smartphone"></i>
                </div>
                <div class="contact-info">
                  <span>1-408-888-4507</span><span>sales@cleverinsight.co</span>
                </div>
              </div>
              <div class="contact-item">
                <div class="contact-icon">
                  <i class="material-icons location_on"></i>
                </div>
                <div class="contact-info">
                  <span>149 Commonwealth Drive</span><span>Menlo Park, CA 94025</span>
                </div>
              </div>
              <div class="contact-item">
                <div class="contact-icon">
                  <i class="material-icons access_time"></i>
                </div>
                <div class="contact-info">
                  <span>09:00 – 17:00 (IST)</span><span>Monday to Friday</span>
                </div>
              </div>
            </div>
            <div class="toolbar">
              <a class="topbar-btn tool" href="#"><i class="material-icons more_horiz"></i></a><a class="menu-btn tool"
                data-toggle="offcanvas" href="#"><i class="material-icons menu"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main navigation -->
    <!-- Visible only on desktop -->
    <div class="sticky-wrapper" style="">
      <div class="navbar navbar-justified">
        <div class="container">
          <nav class="main-navigation">
            <ul class="menu">
              <li class="menu-item current-menu-item">
                <a href="/">Home</a>
              </li>

              <li class="menu-item">
                <a href="/platform.html">Platform</a>
              </li>


              <li class="menu-item">
                <a href="/education.html">Education</a>
              </li>

              <li class="menu-item">
                <a href="/about.html">About</a>
              </li>

              <li class="menu-item">
                <a href="/publications.html">Publications</a>
              </li>
              <li class="menu-item">
                <a href="/contact.html">Contact Us</a>
              </li>
            </ul>
          </nav>
          <div class="toolbar">
          </div>
        </div>
      </div>
    </div><!-- Main navigation END -->
  </header>



  <main id="main">

    <!-- ======= Schedule Section ======= -->
    <section id="schedule">
      <div class="container wow fadeInUp">
        <div class="">
          <h2 style="font-weight: bold; color: rgb(81, 52, 9); margin-bottom: 0px;"><span class="highlight">{{ name }}</span></h2>
          <small style="color: grey; font-style: italic; font-size: 14pt;"> Are you someone who  seriously look for an way where you can learn the right way to analyse data with No code or Low code principles in mind. This workshop is for you. We will use `Spreadsheets` to solve all data challenges.</small>
          <h5><span class="badge badge-success">5 Series Bootcamp</span></h5>
          <!-- <p>Here is our event schedule</p> -->
          <div class="row">
            <div class="col-md-6">
              <!-- <img src="../webinars/assets/img/data-science.png" />
              <img src="../webinars/assets/img/csg-data-analytics.png" /> -->
              <div class="row">
                <div class="col-md-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/5-KSAyfB3JE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-8" style="top:20px">
                  <h5 style="margin-bottom: 0px;">Collaborative Initiative By</h5>
                  <img src="../assets/img/collaborated.png"  width="180px"/>
                  <h4 style="margin-bottom: 2px;"><b>Key Takeaways</b></h4>
                  <ul class="list-group">
                    <li style="font-size: 20px; line-height: 1.1; font-style: italic;" class="text-muted">8 Hours of training</li>
                    <li style="font-size: 20px; line-height: 1.1; font-style: italic;" class="text-muted">No Code Required.</li>
                    <li style="font-size: 20px; line-height: 1.1; font-style: italic;" class="text-muted">Certificate Of Completion</li>
                  </ul>
                </div>
              </div>

            </div>
            <div class="col-md-6 card card-body" style="border:2px dashed rgb(194, 196, 196);">
              <!-- <h3 style="text-decoration: underline; font-weight: bolder;">Overview</h4> -->
              <div class="row">
                <div class="col-md-4">
                  <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFNT7TEaPYtSQ/profile-displayphoto-shrink_200_200/0?e=1603929600&v=beta&t=H0ycQZC3uMvJIqyVTToeeiIxEBK0lAsXb7-8xH0OpyI" width="200px">
                </div>
                <div class="col-md-8">
                  <h4 style="margin-bottom: 2px;"><b>Speaker:</b> Anand .S</h4>
                  <h6>CEO at Gramener</h6>
                  <p>
                    Anand is a co-founder of Gramener, a data science company. He is recognized as one of <b>India’s top 10 data scientists</b>. He leads a team who tell beautiful visual data stories.
                    Anand is a gold medalist at IIM Bangalore and an alumnus of IIT Madras, London Business School, IBM, Infosys, Lehman Brothers, and BCG.
                </p>
                </div>

                <div class="col-md-7">
                  <h5><b class="text-info">Starting Date: </b> 5th September</h5>
                  <h5><b class="text-info">Shareable:</b> LetSign Credentials </h5>
                </div>

                <div class="col-md-5">
                  <h5><b class="text-info">Platform:</b> GoToWebinar</h5>
                  <h5><b class="text-info">Tools:</b> SpreadSheet</h5>

                </div>
                <div class="col-md-12">
                   <p style="font-style: italic;">Spreadsheets are still relevant and a great tool to learn about data. It’s true it’s not the only or most fitting solution for all data projects, but it remains as a reliable and affordable tool for analytics. It’s a foundational structure for intelligent data because it deepens your understanding of the analytics process. Many industries and businesses continue to emphasize the importance of Excel skills because it remains as an intelligent way to extract actionable insights. Revenue patterns, operations, marketing trends, and more can be analyzed through Excel spreadsheets, but the real advantage is the process.</p>
                   <a href="https://rzp.io/l/from-data-to-action-module-2" class="btn btn-block btn-primary">Register Now In ₹599/ <small class="pull-right">*Inclusive of all taxes</small></a>
                </div>
              </div>
              

            </div>
          </div>
        </div>  
        

        <div class="tab-content row justify-content-center">          
          <!-- Schdule Day 1 -->
          <div role="tabpanel" class="col-lg-12 tab-pane fade show active" id="day-1">
            <div v-for="(day, index) in contents">
            <div class="row divider" :style="getDividerColor(index)">
              <div class="col-md-6">
                <h3 class="mx-auto" style="font-weight: 600; text-align: 'center'; text-decoration: underline;">Series {{ index+1 }}</h3>
                <h5 style="color: #fff">{{ day[0].series_title }}</h5>
             </div>
             <div class="col-md-6">
             <h3 class="float-right" v-if="day[0].payment=='free'">Free</h3>
             
              <a v-if="day[0].payment!='free' && day[0].payment!=''" :href="day[0].payment" class="btn btn-block btn-lg btn-primary">Buy Series-2 For ₹599/ <small class="pull-right">*Inclusive of all taxes</small></a>
             </div>
            </div>
            <iframe v-if="index==0" width="560" height="315" src="https://www.youtube.com/embed/10czPcjBM4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div :class="'row schedule-item '+ getDayColor(content.day)" v-for="content in day">
              <div class="col-md-2">
                <h4><span :class="'badge badge-' + getDayLabel(content.day)" style="color: #fff;">{{ content.date }}</span></h4>
                <!-- <span :class="'badge badge-' + getDayLabel(content.day)">DAY - {{ content.day }}</span><br> -->
                <time style="font-size: 11px; font-weight: bolder;">{{ content.time }}</time>
              </div>
              <div class="col-md-8">
                <div class="speaker">
                  <img
                    :src="content.img"
                    :alt="content.speaker">
                </div>
                <h4>{{ content.title }}</h4>
                <div style="margin-left: 70px;">
                <p>
                  {{ content.description }} 

                </p>
                <!-- <a href="https://bit.ly/3ebpZzv" style="color:#4CAF50;">Code</a>  -->
                </div>
              </div>
              <div class="col-md-1 green">
                <!-- <a href="https://youtu.be/IwnCb4WW7WE"
                  target="_blank">View</a> -->
                  <!-- <img src="../webinars/assets/img/arrow.png" height="10px"/> -->
                   <span class="glyphicon glyphicon-chevron-down"></span>
              </div>
            </div>
          </div>
            


          </div>
          <br>
          <h6 style="margin-top:50px"><b>Disclaimer:</b><br>This crash course will not make you a data scientist, but will enable you to use applied foundations of data science practices in your existing job roles.</h6>
        </div>

      
        

    </section><!-- End Schedule Section -->
    <div class="container">
      <div class="row">
          <div class="col-md-12">
            <h3 style="margin-top: 22px;">What others say</h3>
          </div>
          <div class="col-md-3 " style="border-radius: 10px;" v-for="comment in testimonials">
            <h5 class="text-primary" style="margin-bottom: 0px; margin-top: 5px;">{{ comment.name }}</h5>
            <small class="text-info">{{ comment.org}}</small>
            <p class="text-muted" style="font-style: italic;">{{ comment.desc }}</p>
          </div>
          
      </div>
      <div class="row justify-content-center" style="margin-top: 120px;">
        <h2 class="text-center"><span class="highlight">Reserve your seat</span></h2>
        <a href="https://rzp.io/l/from-data-to-action-module-2" class="btn btn-block btn-lg btn-success">Register Now In ₹599/ <small class="pull-right">*Inclusive of all taxes</small></a>

        <h4>For more: WhatsApp Us: <a class="text-primary" href="tel:+916381042094">+916381042094</a></h4>

      </div>
    </div>
    </div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="site-footer footer-dark">
    <div class="footer-row">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <!-- Widget Start -->
            <section class="widget widget_startapp_site_info">
              <a href="/">
                <img alt="" src="https://cleverinsight.co/assets/img/cleverinsight.svg"></a>

              <p>
                CleverInsight was started by a team of bankers, data scientists, data engineers, programmers and
                marketing professionals whose main aim is to optimize the client's business. Our core areas are Banking
                &amp; Finance, Healthcare, Retail, Social Media, Telecom, IOT and Government. </p>

              <div class="social-bar sb-solid-bg sb-rounded sb-dark-skin text-left">
                <a class="social-btn waves-effect waves-light" data-placement="top" data-toggle="tooltip"
                  href="https://www.facebook.com/cleverinsight/" title="" data-original-title="Facebook"><i
                    class="socicon-facebook"></i></a>
                <a class="social-btn waves-effect waves-light" data-placement="top" data-toggle="tooltip"
                  href="https://twitter.com/clever_insight" title="" data-original-title="Twitter"><i
                    class="socicon-twitter"></i></a>
                <a class="social-btn waves-effect waves-light" data-placement="top" data-toggle="tooltip"
                  href="https://www.linkedin.com/company/cleverinsight" title="" data-original-title="LinkedIn"><i
                    class="socicon-linkedin"></i></a>
              </div>
              <br>
            </section><!-- Widget END -->
          </div>

          <div class="col-md-3 col-sm-6">
            <!-- Widget Start -->
            <section class="widget widget_nav_menu">
              <h3 class="widget-title">
                Useful Links
              </h3>

              <div class="menu-footer-menu-1-container">
                <ul class="menu">
                  <li class="menu-item">
                    <a href="/">Home</a>
                  </li>

                  <li class="menu-item">
                    <a href="/about.html">About</a>
                  </li>
                  <li class="menu-item">
                    <a href="https://medium.com/@cleverinsight">Blog</a>
                  </li>
                  <li class="menu-item">
                    <a href="/platform.html">Platform</a>
                  </li>
                  <li class="menu-item">
                    <a href="/education.html">Education</a>
                  </li>
                  <li class="menu-item">
                    <a href="/publications.html">Research &amp; Publications</a>
                  </li>

                  <li class="menu-item">
                    <a href="/contact.html">Contact</a>
                  </li>
                </ul>
              </div>
            </section><!-- Widget END -->
          </div>

          <div class="clearfix visible-sm"></div>

          <div class="col-md-3 col-sm-6">
            <!-- Widget Start -->
            <section class="widget widget_startapp_recent_posts">
              <h3 class="widget-title">
                Featured On</h3>

              <div class="post-item">


                <div class="post-item-info">
                  <span class="post-item-date">Feb 02</span>
                  <h3 class="post-item-title">
                    <a href="http://analyticsindiamag.com/startup-week-hash-research-labs-optimizing-needs-bi-healthcare-education-house-analytics-engine/"
                      rel="bookmark">Analytic India Magazine</a>
                  </h3>
                </div>
              </div>

              <div class="post-item">


                <div class="post-item-info">
                  <span class="post-item-date">March 02</span>
                  <h3 class="post-item-title">
                    <a href="http://analyticsindiamag.com/best-practices-hiring-data-scientists/"
                      rel="bookmark">Analytic India Magazine</a>
                  </h3>
                </div>
              </div>

              <div class="post-item">


                <div class="post-item-info">
                  <span class="post-item-date">April 03</span>
                  <h3 class="post-item-title">
                    <a href="electronicsforu.com/market-verticals/automation/home-automation-in-india-2017-is-seemingly-the-year-of-smart-concepts-diy"
                      rel="bookmark">ElectronicForU</a>
                  </h3>
                </div>
              </div>
            </section><!-- Widget END -->
          </div>

          <div class="col-md-3 col-sm-6">
            <!-- Widget Start -->
            <section class="widget widget_startapp_contacts">
              <h3 class="widget-title">
                Get In Touch
              </h3>

              <div class="contact-item">
                <div class="contact-icon">
                  <i class="material-icons location_on"></i>
                </div>

                <div class="contact-info">
                  <span>CleverInsight<br><small>A Division of MindShare Learning Centre, Inc</small><br>149 Commonwealth
                    Drive</span><span>Menlo Park, CA 94025</span>
                </div>
              </div>

              <div class="contact-item">
                <div class="contact-icon">
                  <i class="material-icons smartphone"></i>
                </div>

                <div class="contact-info">
                  <span>1-408 888 4507</span>
                </div>
              </div>

              <div class="contact-item">
                <div class="contact-icon">
                  <i class="socicon-mail"></i>
                </div>

                <div class="contact-info">
                  <span>sales@cleverinsight.co</span>
                </div>
              </div>
            </section><!-- Widget Start -->
          </div>
        </div>
      </div>
    </div>

    <div class="copyright bg-primary text-light">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p class="copyright-text">
              CleverInsight - MindShare Learning Centre, Inc
              <a href="#"></a>
            </p>
          </div>

          <div class="col-sm-6 text-right"></div>
        </div>
      </div>
    </div>
  </footer>
  </div>
  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../webinars/assets/vendor/jquery/jquery.min.js"></script>
  <script src="../webinars/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="../webinars/assets/vendor/jquery.easing/jquery.easing.min.js"></script> -->
  <!-- <script src="../webinars/assets/vendor/php-email-form/validate.js"></script> -->
  <script src="../webinars/assets/vendor/wow/wow.min.js"></script>
  <script src="../webinars/assets/vendor/venobox/venobox.min.js"></script>
  <script src="../webinars/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../webinars/assets/vendor/superfish/superfish.min.js"></script>
  <!-- <script src="../webinars/assets/vendor/hoverIntent/hoverIntent.js"></script> -->

  <!-- Template Main JS File -->
  <script src="../webinars/assets/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script type="text/javascript">
    
    const app = new Vue({
      el: '#app',
      data: {
        name: "From Data to Action Workshop Series",
        contents: [
          [{
              title: "Building Actionable Insights From Data Using Spreadsheet",
              time: "05:00 PM - 05:30 PM",
              description: "Spreadsheets are still relevant and a great tool to learn about data. It’s true it’s not the only or most fitting solution for all data projects, but it remains as a reliable and affordable tool for analytics. It’s a foundational structure for intelligent data because it deepens your understanding of the analytics process.",
              day: 1,
              payment:'free',   
              series_title: 'Introduction to Data to Action Series',
              date: '23th August',
              speaker: 'Anand .S',
              img: 'https://media-exp1.licdn.com/dms/image/C4E03AQFNT7TEaPYtSQ/profile-displayphoto-shrink_200_200/0?e=1603929600&v=beta&t=H0ycQZC3uMvJIqyVTToeeiIxEBK0lAsXb7-8xH0OpyI'
            },
            {
              title: "Build Baseline Predictive Model Using SpreadSheet",
              time: "05:30 PM - 06:00 PM",
              description: "We all know that a good ML model needs a quality dataset with good features. We will learn how to build the talk of the day Machine Learning models using very basic spreadsheets.",
              day: 1,
              payment:'',
              series_title: 'Introduction to Data to Action Series',   
              date: '23th August',
              speaker: 'Bastin Robins .J',
              img: 'https://media-exp1.licdn.com/dms/image/C5603AQHiAp4NfT_JJQ/profile-displayphoto-shrink_200_200/0?e=1603929600&v=beta&t=8v0Moy5a6J71aYQt0u6pbZ4lob1A9VFLDQ93s0g1f6A'
            }],


          [{
              title: "Data storytelling is a critical skill for data scientists, analysts & managers",
              time: "06:00 PM - 06:30 PM",
              description: "Exercise: Choose a dataset.",
              day: 2,
              series_title: 'How to find the right problems data & evidence can solve',
              payment:'https://rzp.io/l/from-data-to-action-module-2',   
              date: '5th September',
              speaker: 'Anand .S',
              img: 'https://media-exp1.licdn.com/dms/image/C5603AQHiAp4NfT_JJQ/profile-displayphoto-shrink_200_200/0?e=1603929600&v=beta&t=8v0Moy5a6J71aYQt0u6pbZ4lob1A9VFLDQ93s0g1f6A'

          },
          {
              title: "- You have data. Now what?",
              time: "06:30 PM - 07:00 PM",
              description: "Exercise: Choose a role.",
              day: 2,
              series_title: 'How to find the right problems data & evidence can solve',
              payment:'https://rzp.io/l/from-data-to-action-module-2',   
              date: '5th September',
              speaker: 'Anand .S',
              img: 'https://media-exp1.licdn.com/dms/image/C5603AQHiAp4NfT_JJQ/profile-displayphoto-shrink_200_200/0?e=1603929600&v=beta&t=8v0Moy5a6J71aYQt0u6pbZ4lob1A9VFLDQ93s0g1f6A'

          },
          {
              title: "- Who is your audience? They determine the story.?",
              time: "07:00 PM - 07:30 PM",
              description: "Exercise: Define the problem statement.",
              day: 2,
              series_title: 'How to find the right problems data & evidence can solve',
              payment:'https://rzp.io/l/from-data-to-action-module-2',   
              date: '5th September',
              speaker: 'Anand .S',
              img: 'https://media-exp1.licdn.com/dms/image/C5603AQHiAp4NfT_JJQ/profile-displayphoto-shrink_200_200/0?e=1603929600&v=beta&t=8v0Moy5a6J71aYQt0u6pbZ4lob1A9VFLDQ93s0g1f6A'

          },
          {
              title: "- Find the right analysis to solve the problem.?",
              time: "07:30 PM - 08:00 PM",
              description: "Exercise: Identify the right analyses.",
              day: 2,
              series_title: 'How to find the right problems data & evidence can solve',
              payment:'https://rzp.io/l/from-data-to-action-module-2',   
              date: '5th September',
              speaker: 'Anand .S',
              img: 'https://media-exp1.licdn.com/dms/image/C5603AQHiAp4NfT_JJQ/profile-displayphoto-shrink_200_200/0?e=1603929600&v=beta&t=8v0Moy5a6J71aYQt0u6pbZ4lob1A9VFLDQ93s0g1f6A'

          }
        
        ]
        //   [{
        //     title: "Coming Soon",
        //     time: "To be decided",
        //     description: '',
        //     day: 3,
        //     series_title: 'Find insights from data',
        //     payment:'', 
        //     date: 'To be decided',
        //     speaker: 'Anand .S',
        //     img: 'https://media-exp1.licdn.com/dms/image/C4E03AQFNT7TEaPYtSQ/profile-displayphoto-shrink_200_200/0?e=1603929600&v=beta&t=H0ycQZC3uMvJIqyVTToeeiIxEBK0lAsXb7-8xH0OpyI'

        //   }],
        //   [{
        //     title: "Coming Soon",
        //     time: "To be decided",
        //     description: 'Convert the insights into a storyline',
        //     day: 4,
        //     series_title: 'Find insights from data',
        //     payment:'', 
        //     date: 'To be decided',
        //     speaker: 'Anand .S',
        //     img: 'https://media-exp1.licdn.com/dms/image/C4E03AQFNT7TEaPYtSQ/profile-displayphoto-shrink_200_200/0?e=1603929600&v=beta&t=H0ycQZC3uMvJIqyVTToeeiIxEBK0lAsXb7-8xH0OpyI'

        //   }],
        //   [{
        //     title: "Coming Soon",
        //     time: "To be decided",
        //     description: 'Convert the insights into a storyline',
        //     day: 4,
        //     series_title: 'Present the storyline visually',
        //     payment:'', 
        //     date: 'To be decided',
        //     speaker: 'Anand .S',
        //     img: 'https://media-exp1.licdn.com/dms/image/C4E03AQFNT7TEaPYtSQ/profile-displayphoto-shrink_200_200/0?e=1603929600&v=beta&t=H0ycQZC3uMvJIqyVTToeeiIxEBK0lAsXb7-8xH0OpyI'

        //   }]

        ],
        testimonials: [
          {
            name: "Shubham Samanta",
            org: "Swiggy",
            desc: "It was interesting, and I liked it a lot, learned properly about NLP and how does it works"
          },
          {
            name: "Aarti Ravariya",
            org: "eClerx Service Ltd",
            desc: "According to me Bastin spoked and explained each and every point clearly,  in dept."
          },
          {
            name: "Namrata Singh",
            org: "University of Lucknow",
            desc: "I had almost viewed all your videos on youtube, I like the way of your explanation, the way you simplify things. Thank you :)"
          },
          {
            name: "Jadhav Swati Shailesh",
            org: "MES Abasaheb Garware College",
            desc: "Many packages are available, but I was not aware of them. This webinar helped me in understanding of these packages and their usage. I would like to attend webinar on Deep learning."
          },
          {
            name: "GURUNATHAN M",
            org: "MANONMANIAM SUNDARANAR UNIVERSITY COLLEGE, SANKARANKOVIL",
            desc: "Excellent presentation. It was very useful to my research."
          },
          {
            name: "Geetha Santhosh",
            org: "Acropolis Institute of Technology & Research",
            desc: "Good Presentation with great clarity"
          },
          {
            name: "Seema S",
            org: "College of Engineering , Trivandrum",
            desc:"Overall good presentation! crisp and to the point slides!"
          },
          {
            name: "Dr. K. SANKAR",
            org: "VIVEKANANDHA COLLEGE OF ENGINEERING FOR WOMEN",
            desc:"The webinar was well organized and useful.  The resource person is highly knowledgeable"
          }
        ]
      },
      methods: {
        getDayColor: function(d) {

            if(d==1) {
              return 'day1';
            } else if(d==2) {
              return 'day2'
            } else {
              return 'day3'
            }
        },

        getDayLabel: function(d) {

            if(d==1) {
              return 'info';
            } else if(d==2) {
              return 'warning'
            } else {
              return 'success'
            }
        },
        getDividerColor: function(d) {

          if(d==0) {
            return 'background: rgb(114 116 118)';
          } else if (d==1) {
            return 'background: #8BC34A';
          } else if (d==2) {
            return 'background: #009688';
          } else if (d==3) {
            return 'background: rgb(33, 150, 243)';
          } else if (d==4) {
            return 'background: #673AB7';
          } else {
            return 'background: #8bc34a';
          }


      }
      },


    });
  </script>

</body>

</html>